{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <button class="nav_btn">Home</button>
    <button class="nav_btn">Products</button>
    <button class="nav_btn">About</button>
    <button class="nav_btn">Contacts</button>
    <a href="./login.html"><button id="login_btn">Login</button></a>
  </div>
</body>
</html>
